asgiref==3.8.1
blinker==1.8.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coverage==7.6.0
defusedxml==0.7.1
dj-database-url==0.5.0
Django==3.2.25
django-allauth>=0.51.0
django-countries==7.2.1
django-crispy-forms==1.14.0
ExtensionClass==5.1
Flask==3.0.3
Flask-MySQL==1.5.2
Flask-SQLAlchemy==3.1.1
greenlet==3.0.3
gunicorn==22.0.0
idna==3.7
importlib_metadata==7.1.0
imports==0.1.4
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
Missing==5.0
oauthlib==3.2.2
packaging==24.1
pillow==10.4.0
psycopg2==2.9.10
psycopg2-binary==2.9.9
PyMySQL==1.1.1
python-decouple==3.8
python3-openid==3.2.0
pytz==2024.1
requests==2.32.3
requests-oauthlib==2.0.0
SQLAlchemy==2.0.30
sqlparse==0.5.1
stripe==10.12.0
typing_extensions==4.12.0
urllib3==2.2.2
Werkzeug==3.0.3
zipp==3.18.1
zope.deferredimport==5.0
zope.interface==6.3
zope.proxy==5.2
setuptools==59.6.0
